
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #000000;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 65px;
}

.navigation a:hover{
    color: #36fc1c;
}
.litle {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: url(background.png) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}
.new {
    display: flex;
}
.lite{
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    align-items:10em ;
    direction: rtl;
    font-family: 'Arial', sans-serif; /* يمكنك استبدال 'Arial' بالخط المناسب للغة العربية */
    min-height: 500px;

}
.new .imga {

    width: 800px;
    display: flex;
    background-color: #2f352e;
    padding: 10px;
    
}
.des {
    display: flex;
}
.par {
    font-size: 20px;
    direction: rtl;
}